{% extends 'base.html.njk' %}

{% block body %}
  <header>
    <h4>Alliphy Gallery</h4>
    <img src="deerLogo.png" id="logo-img" alt="logo"/>
  </header>

  <main>
    <section id="landing-section-cont">
      <div id="main-img-container">
        <h1 id="gallery-title">Step Into Alliphy's Gallery</h1>
        <img id="main-page-img" src="bigDoods.jpg" alt="watercolor-art"/>
      </div>
    </section>

    <div class="margin-top" id="monthly-artist-text-cont">
      <h2>Featured Artist of the Month</h2>
      <h3>Eva Przy Arts</h3>
    </div>
    <section class="margin-top section-art-cont">
      <div class="art-gallery-container">
        <h3>Drawers to Wonderland</h3>
        <div class="frame">
          <img
            src="dresserArt.jpeg"
            id="first-artist-img"
            alt="painted-dresser"
/>
        </div>
      </div>
      <div class="art-gallery-container">
        <h3>Have You Met the Lemon Trees?</h3>
        <div class="frame">

          <img
            id="second-artist-img"
            class=""
            src="lemonBois.jpg"
            alt="watercolor-art"
/>
        </div>
      </div>
      <div class="art-gallery-container">
        <h3>All Absorbing Snail</h3>
        <div class="frame">

          <img
            src="allAbsorbSnail.jpg"
            id="third-artist-img"
            alt="watercolor-art"
/>
        </div>
      </div>
    </section>

    <form action="/submit-comment" method="post" class="margin-top">
      <div class="text-input-cont">
        <div class="output-area"></div>
        <label>Share Your Thoughts:</label>
        <input
            class="thought-input"
            type="textarea"
            name="comment"
            placeholder="Thoughts"
/>
        <input type="submit"/>
        {% for comment in comments %}
          <div>
            <p>{{ comment.message }}</p>
            <p>-{{ comment.author }}</p>
          </div>
        {% endfor %}
      </div>
    </form>
    <section class="inspiration" class="margin-top">
      <button id="inspiration-button">Need Artistic Inspiration?</button>
      <img id="inspiration-image" src=""/>
    </section>
  </main>

  <footer>
    <h4>©AlliphyStudios 2024</h4>
    <h4>Contact Alliphy: evaprzyarts@gmail.com</h4>
  </footer>

  <script>

    let lastImageIndex;

    const ids = "{{imageIds}}".split(',')
    const inspirationImg = document.getElementById("inspiration-image");
    const inspirationBtn = document.getElementById("inspiration-button");

    inspirationImg.src = convertIdToImageLink(pickRandomThingFromList(ids))

    inspirationBtn.addEventListener("click", () => {

      inspirationImg.src = convertIdToImageLink(pickRandomThingFromList(ids))

    })

    function pickRandomThingFromList(list) {
      const chosenIndex = Math.ceil(Math.random() * list.length - 1);

      if (lastImageIndex === chosenIndex) {
        return pickRandomThingFromList(list)
      }

      lastImageIndex = chosenIndex;
      return list[chosenIndex];
    }

    function convertIdToImageLink(id) {
      return `https://www.artic.edu/iiif/2/${id}/full/843,/0/default.jpg`;
    }
  </script>

{% endblock %}
</html>