* {
  box-sizing: border-box;
  /* border: 1px dotted blue; */
  margin: 0 auto;
  padding: 0;
  gap: 1rem;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "width" 100;
}

/* ----------BODY/HEADER/MAIN/FOOT */

body {
  top: 0;
  height: fit-content;
  width: 100%;
  background: linear-gradient(
    #f2eaef,
    #ecc1daaa,
    #e1c6d6,
    #dca9c9d4,
    #cf9bbed4,
    #f9c5e9a5,
    #e1c6d6a0,
    #f8e9f2,
    #f5d5e8aa,
    #e1c6d6,
    #f0c8e3d4,
    #e1c6d6,
    #e9b2d7d4,
    #f0c8e3d4,
    #ffd1f1a5,
    #f5d7e9a0,
    #e4c9db52
  );
  font-family: "Roboto Flex", sans-serif;
  color: #0e0510;
  text-wrap: nowrap;
}

header {
  top: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 0;
  color: white;
  text-shadow: 4px 4px 8px #00000073;
  letter-spacing: -0.1em;
  margin-left: 0.5rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 8rem;
}

/* ----------- FORMS ---------- */

form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

/* -------------- CONTAINERS ------------------ */

.section-art-cont {
  display: flex;
  justify-content: space-around;
  margin-left: 7.5rem;
  margin-right: 7.5rem;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.art-gallery-container {
  display: flex;
  width: 25em;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem;
}

#main-img-container {
  display: flex;
}

#monthly-artist-text-cont {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* ------------ h1, p, etc. -------- */

h1 {
  font-weight: 900;
  font-size: 1.8em;
}

h3 {
  border: 0.75px solid black !important;
  border-radius: 1rem;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 4px 4px 8px #bababa73;
}

/* ----------------- IMAGES ------------------------- */

#logo-img {
  width: 5rem;
  height: 5rem;
  display: block;
}

#main-page-img {
  width: 100%;
}

.frame {
  outline: solid 0.1rem #0e0510;
  box-shadow: 4px 4px 8px #00000073;
  border-radius: 1rem;
}

#first-artist-img {
  width: 100%;
  border-radius: 1rem;
}

#second-artist-img {
  width: 100%;
  border-radius: 1rem;
}

#third-artist-img {
  width: 100%;
  border-radius: 1rem;
}

/* TEXT */

#gallery-title {
  position: absolute;
  top: 23%;
  left: 10%;
  font-size: clamp(2rem, 14vw, 4rem);
  text-wrap: pretty;
  color: white;
  text-shadow: 4px 4px 8px #00000073;
}

/* ------------- TARGET SPECIFIC ----------- */

.margin-top {
  margin-top: 2rem;
}

.inspiration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
